openapi: "3.1.0"
info:
  title: Meradeya API
  description: >
    Public-facing REST API for the Meradeya marketplace platform.
    This specification is a placeholder and will be expanded service by service.
  version: "0.0.1"
  contact:
    name: Meradeya Team
    url: https://github.com/meradeya

servers:
  - url: https://api.meradeya.com/v1
    description: Production
  - url: https://api.staging.meradeya.com/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

# ─────────────────────────────────────────────────────────────────────────────
# Paths — Auth & Users
# ──────────────────────────────────��──────────────────────────────────────────
paths:

  # ── Auth ───────────────────────────���──────────────────────────────────────

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      description: >
        Creates a new user account and a matching profile.
        Sends an email-verification message automatically.
        The account starts with `emailVerified: false`; publishing a listing
        requires a verified email.
      operationId: registerUser
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, displayName]
              properties:
                email:
                  type: string
                  format: email
                  example: "ada@example.com"
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: "S3cur3Pass!"
                displayName:
                  type: string
                  maxLength: 100
                  example: "Ada Lovelace"
      responses:
        "201":
          description: User created; token pair issued; verification email dispatched
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: EMAIL_ALREADY_EXISTS
                message: "An account with this email already exists."

  /auth/login:
    post:
      tags: [Auth]
      summary: Authenticate and obtain tokens
      description: >
        Validates email + password. Returns a short-lived JWT access token and
        a long-lived refresh token. Suspended accounts receive 403.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenPair"
        "401":
          description: Invalid credentials
        "403":
          description: Account suspended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: ACCOUNT_SUSPENDED
                message: "Your account has been suspended."

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate token pair
      description: >
        Exchanges a valid refresh token for a new access + refresh token pair.
        The submitted refresh token is immediately revoked (rotation).
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        "200":
          description: New token pair issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenPair"
        "401":
          description: Refresh token invalid, expired, or already revoked

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke refresh token
      description: Marks the supplied refresh token as revoked. Idempotent.
      operationId: logout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        "204":
          description: Logged out
        "401":
          description: Missing or invalid access token

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Confirm email address
      description: >
        Consumes a single-use EMAIL_VERIFY token. Sets `email_verified = true`.
        Token is valid for 24 hours.
      operationId: verifyEmail
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "204":
          description: Email verified
        "400":
          description: Token invalid, expired, or already used
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: TOKEN_INVALID
                message: "The verification token is invalid or has expired."

  /auth/password-reset/request:
    post:
      tags: [Auth]
      summary: Request a password-reset email
      description: >
        Generates a PASSWORD_RESET auth_token and emails it to the user.
        Always responds 204 to prevent email enumeration.
      operationId: requestPasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "204":
          description: Reset email dispatched (or silently ignored if unknown)

  /auth/password-reset/confirm:
    post:
      tags: [Auth]
      summary: Set a new password using reset token
      description: >
        Consumes a single-use PASSWORD_RESET token and replaces the password hash.
        All existing refresh tokens for the user are revoked on success.
      operationId: confirmPasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token:
                  type: string
                newPassword:
                  type: string
                  format: password
                  minLength: 8
      responses:
        "204":
          description: Password updated; all sessions invalidated
        "400":
          description: Token invalid, expired, or already used

  # ── Users ─────────────────────────────────────────────────────────────────

  /users/me:
    get:
      tags: [Users]
      summary: Get own account + profile
      description: >
        Returns the authenticated user's full record including private fields
        (email, emailVerified, status).
      operationId: getMyProfile
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyProfile"
        "401":
          description: Not authenticated

    patch:
      tags: [Users]
      summary: Update own profile
      description: >
        Partial update of the authenticated user's profile fields.
        Supply `version` (from the last GET) for optimistic-lock protection.
        Email and password are changed via dedicated flows.
      operationId: updateMyProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MyProfile"
        "400":
          description: Validation error
        "401":
          description: Not authenticated
        "409":
          description: Optimistic lock conflict — re-fetch and retry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: OPTIMISTIC_LOCK_CONFLICT
                message: "Profile was modified by another request. Re-fetch and retry."

  /users/{userId}/profile:
    get:
      tags: [Users]
      summary: Get public profile
      description: >
        Returns the public-facing profile of any user.
        Private fields (email, status) are excluded.
        Works without authentication; useful for seller pages.
      operationId: getPublicProfile
      security: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Public profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicProfile"
        "404":
          description: User not found

  /users/me/listings:
    get:
      tags: [Users]
      summary: List own listings
      description: >
        Returns paginated listings belonging to the authenticated seller.
        All statuses are visible to the owner. Use `?status` to filter.
      operationId: getMyListings
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [DRAFT, ACTIVE, PAUSED, SOLD, ARCHIVED]
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        "200":
          description: Paginated listing summaries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingSummaryPage"
        "401":
          description: Not authenticated

# ─────────────────────────────────────────────────────────────────────────────
# Reusable components
# ─────────────────────────────────────────────────────────────────────────────
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    # ── Common ────────────────────────────────────────────────────────────────

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: "RESOURCE_NOT_FOUND"
        message:
          type: string
          example: "The requested listing was not found."
        details:
          type: object
          additionalProperties: true

    PaginatedMeta:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer

    # ── Auth schemas ──────────────────────────────────────────────────────────

    RegisterResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          description: Access token lifetime in seconds
          example: 900

    TokenPair:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          description: Access token lifetime in seconds
          example: 900

    # ── User schemas ──────────────────────────────────────────────────────────

    MyProfile:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        emailVerified:
          type: boolean
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, DELETED]
        displayName:
          type: string
        avatarUrl:
          type: string
          format: uri
          nullable: true
        location:
          type: string
          nullable: true
        bio:
          type: string
          nullable: true
        updatedAt:
          type: string
          format: date-time
        version:
          type: integer
          format: int64

    PublicProfile:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        displayName:
          type: string
        avatarUrl:
          type: string
          format: uri
          nullable: true
        location:
          type: string
          nullable: true
        bio:
          type: string
          nullable: true

    UpdateProfileRequest:
      type: object
      properties:
        displayName:
          type: string
          maxLength: 100
        avatarUrl:
          type: string
          format: uri
        location:
          type: string
          maxLength: 200
        bio:
          type: string
        version:
          type: integer
          format: int64
          description: Required for optimistic locking

    ListingSummaryPage:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ListingSummary"
        meta:
          $ref: "#/components/schemas/PaginatedMeta"

    ListingSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        price:
          type: number
        currency:
          type: string
        condition:
          type: string
        status:
          type: string
        location:
          type: string
          nullable: true
        firstPhotoUrl:
          type: string
          format: uri
          nullable: true
        createdAt:
          type: string
          format: date-time

security:
  - bearerAuth: []

